// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";
@import "nhsapp-frontend/dist/nhsapp";

// Add your custom CSS/Sass styles below.

.patient-table .nhsuk-body-s {
    font-weight: 400;
    margin: 0;
}

.nhsuk-card--grey {
    /*background-color: #d8dde0;*/
    background-color: #f0f4f5;
}

.nhsuk-inset-text--summary {
    margin-top: 0;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

  /* TABLE SORTER STYLES */

[aria-sort] a,
[aria-sort] a:hover {
  background-color: transparent;
  border-width: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  color: #005ea5;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0 15px 0 0;
  position: relative;
  text-align: inherit;
  font-size: 1em;
  margin: 0;
  text-decoration: none;
  display: inline-block;
}

[aria-sort] a:focus {
  background-color: $nhsuk-focus-colour;
  color: $nhsuk-focus-text-colour;
  box-shadow: 0 -2px $nhsuk-focus-colour, 0 4px $nhsuk-focus-text-colour;
  outline: none;
}

[aria-sort]:first-child a {
  right: auto;
}

[aria-sort] a:before {
  content: " \25bc";
  position: absolute;
  right: -1px;
  top: 9px;
  font-size: 0.5em;
}

[aria-sort] a + span {
  display: block;
  margin: 0;
}

[aria-sort] a:after {
  content: " \25b2";
  position: absolute;
  right: -1px;
  top: 1px;
  font-size: 0.5em;
}

[aria-sort="ascending"] a:before,
[aria-sort="descending"] a:before {
  content: none;
}

[aria-sort="ascending"] a:after {
  content: " \25b2";
  font-size: .8em;
  position: absolute;
  right: -5px;
  top: 2px;
}

[aria-sort="descending"] a:after {
  content: " \25bc";
  font-size: .8em;
  position: absolute;
  right: -5px;
  top: 2px;
}