// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";
@import "nhsapp-frontend/dist/nhsapp";

// Add your custom CSS/Sass styles below.

*[id] {
  scroll-margin-top: 4rem;
}

.patient-table .nhsuk-tag,
.patient-table tbody td:nth-child(2) {
  white-space: nowrap;
}

 

.patient-table .nhsuk-body-s {
    font-weight: 400;
    margin: 0;
}

.nhsuk-card--grey {
    /*background-color: #d8dde0;*/
    background-color: nhsuk-colour("grey-5");
}

.nhsuk-tag--dark-grey {
  color: nhsuk-colour("grey-5");
  background-color: #354550;
}

.nhsuk-tag--expired-grey {
  color: #354550;
  border-color: #dbe0e3;
  background-color: #f0f4f5;
}

.nhsuk-inset-text--summary {
    margin-top: 0;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    max-width: none;
}

/* EXPANDABLE IMAGE */

.expandable-image::details-content {
  content-visibility: visible;
}

.expandable-image {
  width: 100%;
  display: block;
  overflow: auto;
  position: relative;
  background-color: nhsuk-colour("white");
  border: 1px solid nhsuk-colour("grey-4");
  padding-bottom: 100%;
}

.expandable-image[open] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border: none;
}

.expandable-image .expandable-image__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  overflow: auto;
}

.expandable-image .expandable-image__inner img {
  display: block;
  width: auto;
  border:  2rem solid nhsuk-colour("white");
}

.expandable-image[open] .expandable-image__inner {
  bottom: auto;
  height: 100vh;
}

.expandable-image .nhsuk-button {
  z-index: 3;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: auto;
  background-color: green;
}

.expandable-image .nhsuk-button:active {
  top: calc( 1rem + 4px );
}

.expandable-image[open] .nhsuk-button {
  position: fixed;
}

.expandable-image .closed,
.expandable-image[open] .open {
  display: inline;
}

.expandable-image .open,
.expandable-image[open] .closed {
  display: none;
}

body:has(.expandable-image[open]) {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

body:has(.expandable-image[open]) *:not(:has(.expandable-image[open])){
  display: none;
}

body:has(.expandable-image[open]) .expandable-image[open],
body:has(.expandable-image[open]) .expandable-image[open] *:not(.closed) {
  display: block;
}


  /* TABLE SORTER STYLES */

[aria-sort] a,
[aria-sort] a:hover {
  background-color: transparent;
  border-width: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  color: #005ea5;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0 15px 0 0;
  position: relative;
  text-align: inherit;
  font-size: 1em;
  margin: 0;
  text-decoration: none;
  display: inline-block;
}

[aria-sort] a:focus {
  background-color: $nhsuk-focus-colour;
  color: $nhsuk-focus-text-colour;
  box-shadow: 0 -2px $nhsuk-focus-colour, 0 4px $nhsuk-focus-text-colour;
  outline: none;
}

[aria-sort]:first-child a {
  right: auto;
}

[aria-sort] a:before {
  content: " \25bc";
  position: absolute;
  right: -1px;
  top: 9px;
  font-size: 0.5em;
}

[aria-sort] a + span {
  display: block;
  margin: 0;
}

[aria-sort] a:after {
  content: " \25b2";
  position: absolute;
  right: -1px;
  top: 1px;
  font-size: 0.5em;
}

[aria-sort="ascending"] a:before,
[aria-sort="descending"] a:before {
  content: none;
}

[aria-sort="ascending"] a:after {
  content: " \25b2";
  font-size: .8em;
  position: absolute;
  right: -5px;
  top: 2px;
}

[aria-sort="descending"] a:after {
  content: " \25bc";
  font-size: .8em;
  position: absolute;
  right: -5px;
  top: 2px;
}