{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Edit personal details' %}

{% block beforeContent %}
 {{ backLink({
    href: 'javascript:history.go(-1)',
    text: 'Back'
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-l">{{ pageName }}</h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <div class="nhsuk-card nhsuk-card--grey">
      <div class="nhsuk-card__content">

        <h2 class="nhsuk-heading-s">Postcode search</h2>

          {{ summaryList({
            heading: "Personal details",
            headingLevel: "2",
            headingClasses: "nhsuk-heading-s",
              classes: "nhsuk-summary-list--no-border",
              rows: [
                {
                  key: { 
                  text: "Postcode" 
                  },
                  value: 
                  {
                    html: '
                    <div class="postcode-block">
                      ' + input({
                        id: "postcode",
                        name: "postcode",
                        classes: "nhsuk-input--width-10",
                        value: "TR11 0TS"
                      }) + '
                    
                      <div class="postcode-buttons">
                    
                        ' + button({
                          text: "Get address",
                          classes: "nhsuk-button nhsuk-u-margin-right-2",
                          href: "postcode-search-result"
                        }) + '
                    
                        ' + button({
                          text: "Enter address manually",
                          classes: "nhsuk-button--secondary-solid",
                          href: "edit-personal-details"
                        }) + '
                    
                      </div>
                    </div>
                    '
                  }
                }
              ]
          }) }}

      </div>
      </div>
    </div>
</div>




{% endblock %}