{% extends 'layout-fullscreen-normal-content.html' %}

{% set pageName = 'Processing complete' %}
{% set bannerRole = 'backOffice' %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {% set panelHTML %}

        {% set firstName = data.imageFirstName or 'Sarah' %}
        {% set lastName = data.imageLastName or 'Johnson' %}

            <dl>
                <div>
                    <dd class="nhsuk-body nhsuk-u-visually-hidden">Name</dd>
                    <dt class="nhsuk-heading-l">{{ firstName | processFullName( lastName ) }}</dt>
                </div>
                <div>
                    <dd class="nhsuk-body nhsuk-u-margin-0">Certificate number</dd>
                    <dt class="nhsuk-heading-l">8436 810 379</dt>
                </div>
            </dl>

        {% endset %}

        {{ panel({
            titleText: pageName,
            html: panelHTML
        }) }}


         <div class="nhsuk-button-group">

                  {{ button({
                    text : 'Next application',
                    href: 'process-application'
                  }) }}

                  {{ button({
                    text : 'Finish processing',
                    href: 'back-office-dashboard',
                    classes: 'nhsuk-button--secondary'
                  }) }}

                </div>




    </div>
  </div>


{% endblock %}