{% extends 'layout-fullscreen.html' %}

{% set pageName = 'MATEX processing' %}
{% set bannerRole = 'backOffice' %}

{% set dashboardRows = '' | getPatientData | getDashboardTableRows( 7 ) %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


          <div class="nhsuk-card">
            <div class="nhsuk-card__content">


            <h1 class="nhsuk-heading-m">{{ pageName }}</h1>

            {{ insetText({
              html: '386 forms awaiting processing<br />You have processed 10 forms this session',
              classes: 'nhsuk-inset-text--summary'
            }) }}


            <div class="nhsuk-button-group">

              {{ button({
                text: 'Process an application',
                href: 'process-application'
              }) }}

               {{ button({
                text: 'Search for a certificate',
                href: 'search',
                classes: 'nhsuk-button--secondary'
              }) }}

            </div>
  


            {{ table({
                panel: false,
                caption: "Certificates you've processed this session",
                firstCellIsHeader: false,
                responsive: true,
                tableClasses: 'patient-table',
                head: [
                        { html: 'Name<br /><span class="nhsuk-body-s">NHS number</span>' ),
                        { text: 'Postcode' },
                        { text: 'Status' },
                        { text: 'Reference' },
                        { text: 'Last note' },
                        { html: '<span class="nhsuk-u-visually-hidden">Action</span>' }
                      ],
                rows: dashboardRows
              }) }}


            

          </div>
        </div>


      </div>
  </div>

{% endblock %}