{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Application 2025 11 18 18 12 16N3000049' %}
{% set bannerRole = 'backOffice' %}

{% block beforeContent %}
  {{ backLink({
    href: 'javascript:history.go(-1)',
    text: 'Back'
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-m">{{ pageName }}
        {{ 'matex' | getCertificateTypeTextOrTag( true ) | safe }}
        {{ 'processing' | getStatusTextOrTag( true ) | safe }}</h1>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

     

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">

              <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">Scanned application</h2>

              <details class="expandable-image">
                <div class="expandable-image__inner">
                  <img class="expandable-image__image" width="2323" height="1670" src="/images/FW8-MATEX-scan.png" alt=""/>
                </div>
                <summary class="expandable-image__button nhsuk-button">
                  <span class="closed">Expand image</span>
                  <span class="open">Shrink image</span></summary>
              </details>

            </div>

            <div class="nhsuk-grid-column-one-half">

               <div class="nhsuk-card nhsuk-card--grey">
        <div class="nhsuk-card__content">

              <h2 class="nhsuk-heading-m">Confirm patient address</h2>

              <form action="process-application--postcode" method="post" novalidate>
              <!--
              
              Can't use until Shai-halud is sorted...

              <form action="postcode-handler" method="get" novalidate>-->


               {% call fieldset({
                    legend: {
                        text: 'Address details',
                        classes: 'nhsuk-u-visually-hidden'
                    }
                }) %}

                    <!-- POSTCODE -->
                    {{ input({
                        label: {
                            html: 'Postcode ' + 89 | getConfidenceTag
                        },
                        classes: 'nhsuk-input--width-10',
                        attributes: { 'autocomplete' : 'off' },
                        id: 'imagePostcode',
                        name: 'imagePostcode',
                        value: data.imagePostcode or 'B14 9QX'
                    }) }}

                    <!-- BUILDING NUMBER OR NAME -->
                    {{ input({
                        label: {
                            html: 'House number or name ' + 67 | getConfidenceTag
                        },
                        classes: 'nhsuk-input nhsuk-input--width-20',
                        hint: {
                            text: 'For example, 15 or Prospect Cottage'
                        },
                        id: 'imageHouseNumberOrName',
                        name: 'imageHouseNumberOrName',
                        value: data.imageBuildingNumberOrName or '12'
                    }) }}


                {% endcall %}



                    <hr class="nhsuk-section-break nhsuk-section-break--m" />


                  <div class="nhsuk-button-group">

                    {{ button({
                      text : 'Continue'
                    }) }}

                    {{ button({
                      text : 'Cannot process application',
                      href: 'cannot-process-application',
                      classes: 'nhsuk-button--secondary'
                    }) }}

                  </div>


                  <p class="nhsuk-body"><a href="process-application--manual-entry">Enter address manually</a></p>

                </form>

                <style>



                  img[width] {
                    width: calc( attr(width)/2 );
                  }


                  /* JUST AFTER LABEL */

                  .confidence-level {
                    vertical-align: text-bottom;
                    display: inline;
                    white-space: nowrap;
                  }

                  .confidence-level .confidence-score {
                    border-left: 0;
                  }

                  




                  /* UNDER LABEL VERSION 

                  .confidence-level {
                    vertical-align: text-bottom;
                    display: block;
                    white-space: nowrap;
                    margin-bottom: 0.75rem;
                  }

                  .confidence-level .confidence-score {
                    border-left: 0;
                  }

                  */
                  


                  /* ALIGN TO RIGHT VERSION

                  .nhsuk-details__text .nhsuk-form-group {
                    position: relative;
                  }

                  .confidence-level {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 0;
                  }
                  */
                  
            

                </style>


              </div>
              </div>



            </div>

          </div>

     

    </div>
  </div>

{% endblock %}