{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Application 2025 11 18 18 12 16N3000049' %}
{% set bannerRole = 'backOffice' %}

{% block beforeContent %}
  {{ backLink({
    href: 'javascript:history.go(-1)',
    text: 'Back'
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-m">{{ pageName }}
        {{ 'matex' | getCertificateTypeTextOrTag( true ) | safe }}
        {{ 'processing' | getStatusTextOrTag( true ) | safe }}</h1>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

     

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">

              <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">Scanned application</h2>

              <details class="expandable-image">
                <div class="expandable-image__inner">
                  <img class="expandable-image__image" width="2323" height="1670" src="/images/FW8-MATEX-scan.png" alt=""/>
                </div>
                <summary class="expandable-image__button nhsuk-button">
                  <span class="closed">Expand image</span>
                  <span class="open">Shrink image</span></summary>
              </details>

            </div>

            <div class="nhsuk-grid-column-one-half">

               <div class="nhsuk-card nhsuk-card--grey">
        <div class="nhsuk-card__content">

              <h2 class="nhsuk-heading-m">Confirm contact details and due date</h2>

              <form action="process-application--other" method="post" novalidate>



                  {{ input({
                      label: {
                        html: 'Phone number ' + 87 | getConfidenceTag + ' (optional)'
                      },
                      attributes: { type: 'tel', autocomplete: 'off' },
                      classes: 'nhsuk-input--width-10',
                      id: 'imagePhoneNumber',
                      name: 'imagePhoneNumber',
                      value: data.imagePhoneNumber or '07911 123456'
                  }) }}


                   {{ input({
                      label: {
                        html: 'Email address ' + 0 | getConfidenceTag + ' (optional)'
                      },
                      attributes: { type: 'email', autocomplete: 'off' },
                      classes: 'nhsuk-input--width-20',
                      id: 'imageEmailAddress',
                      name: 'imageEmailAddress',
                      value: data.imageEmailAddress
                  }) }}
               


                {{ dateInput({
                  id: 'imageBabyDateOfBirth',
                  namePrefix: 'imageBabyDateOfBirth',
                  fieldset: {
                    legend: {
                      html: "Baby's date of birth " + 92 | getConfidenceTag
                    }
                  },
                  items: [
                    {
                      name: 'day',
                      classes: 'nhsuk-input--width-2',
                      value: data.imageBabyDateOfBirth.day or '10'
                    },
                    {
                      name: 'month',
                      classes: 'nhsuk-input--width-2',
                      value: data.imageBabyDateOfBirth.month or '8'
                    },
                    {
                      name: 'year',
                      classes: 'nhsuk-input--width-4',
                      value: data.imageBabyDateOfBirth.year or '2026'
                    }
                  ]
                }) }}


                    

                    <hr class="nhsuk-section-break nhsuk-section-break--m" />


                  <div class="nhsuk-button-group">

                    {{ button({
                      text : 'Continue'
                    }) }}

                    {{ button({
                      text : 'Cannot process application',
                      href: 'cannot-process-application',
                      classes: 'nhsuk-button--secondary'
                    }) }}

                  </div>

                 

                </form>

                <style>



                  img[width] {
                    width: calc( attr(width)/2 );
                  }


                  /* JUST AFTER LABEL */

                  .confidence-level {
                    vertical-align: text-bottom;
                    display: inline;
                    white-space: nowrap;
                  }

                  .confidence-level .confidence-score {
                    border-left: 0;
                  }

                  




                  /* UNDER LABEL VERSION 

                  .confidence-level {
                    vertical-align: text-bottom;
                    display: block;
                    white-space: nowrap;
                    margin-bottom: 0.75rem;
                  }

                  .confidence-level .confidence-score {
                    border-left: 0;
                  }

                  */
                  


                  /* ALIGN TO RIGHT VERSION

                  .nhsuk-details__text .nhsuk-form-group {
                    position: relative;
                  }

                  .confidence-level {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 0;
                  }
                  */
                  
            

                </style>


              </div>
              </div>



            </div>

          </div>

     

    </div>
  </div>

{% endblock %}