{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Search for a certificate' %}

{% block beforeContent %}
  {% if data.role === 'backOffice' %}
  {{ backLink({
      href: 'back-office-dashboard',
      text: 'Back'
    }) }}
  {% endif %}
{% endblock %}


{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

          

          <div class="nhsuk-card nhsuk-card--grey">
            <div class="nhsuk-card__content">


            <h1 class="nhsuk-heading-m">{{ pageName }}</h1>

            <form action="search" method="post" novalidate>

              <div class="nhsuk-grid-row">

                <div class="nhsuk-grid-column-one-third">
                  {{ input({
                    label: {
                      text: 'Certificate reference'
                    },
                    id: 'searchCertificateReference',
                    name: 'searchCertificateReference',
                    value: data.searchCertificateReference
                  }) }}
                </div>

                <div class="nhsuk-grid-column-one-third">
                  {{ input({
                    label: {
                      text: 'First name'
                    },
                    id: 'searchFirstName',
                    name: 'searchFirstName',
                    value: data.searchFirstName
                  }) }}
                </div>

                <div class="nhsuk-grid-column-one-third">
                  {{ input({
                    label: {
                      text: 'Last name'
                    },
                    id: 'searchLastName',
                    name: 'searchLastName',
                    value: data.searchLastName
                  }) }}
                </div>

              </div>




              <div class="nhsuk-grid-row">

                <div class="nhsuk-grid-column-one-third">
                  {{ input({
                    label: {
                      text: 'Date of birth'
                    },
                    id: 'searchDateOfBirth',
                    name: 'searchDateOfBirth'
                  }) }}
                </div>

                <div class="nhsuk-grid-column-one-third">
                  {{ input({
                    label: {
                      text: 'Postcode'
                    },
                    id: 'searchPostcode',
                    name: 'searchPostcode',
                    value: data.searchPostcode
                  }) }}
                </div>

                <div class="nhsuk-grid-column-one-third">

                  {% if data.role === 'callCentre' %}

                    {{ select({
                      label: {
                        text: 'Certificate type'
                      },
                      id: 'searchCertificateType',
                      name: 'searchCertificateType',
                      value: data.searchCertificateType,
                      items: [
                        {
                          value: '',
                          text: 'All certificate types'
                        },
                        {
                          value: 'hrtppc',
                          text: 'HRT PPC'
                        },
                        {
                          value: 'matex',
                          text: 'Maternity exemption'
                        }
                      ]
                    }) }}

                    <input type="hidden" name="searchStatus" value="" />

                  {% else %}

                    <input type="hidden" name="searchCertificateType" value="matex" />
                    <input type="hidden" name="searchStatus" value="processing,reviewing,accepted" />

                  {% endif %}

                </div>

              </div>


              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                  
                  {{ button({
                    text: 'Search'
                  }) }}

                  {{ button({
                    text: 'Reset',
                    href: 'search?searchFirstName=&searchLastName=',
                    classes: 'nhsuk-button--secondary nhsuk-u-float-right'
                  }) }}

                </div>
              </div>



            </form>

          </div>
          </div>

      </div>
  </div>

{% endblock %}