{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Appliction 2025 11 18 18 12 16N3000049' %}
{% set bannerRole = 'backOffice' %}

{% block beforeContent %}
  {{ backLink({
    href: 'javascript:history.go(-1)',
    text: 'Back'
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-m">{{ pageName }}
        {{ 'matex' | getCertificateTypeTextOrTag( true ) | safe }}
        {{ 'processing' | getStatusTextOrTag( true ) | safe }}</h1>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">

              <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">Scanned application</h2>

              <details class="expandable-image">
                <div class="expandable-image__inner">
                  <img class="expandable-image__image" src="/images/FW8-MATEX-scan.png" alt=""/>
                </div>
                <summary class="expandable-image__button nhsuk-button">
                  <span class="closed">Expand image</span>
                  <span class="open">Shrink image</span></summary>
              </details>

            </div>

            <div class="nhsuk-grid-column-one-half">


      <div class="nhsuk-card nhsuk-card--grey">
        <div class="nhsuk-card__content">

              <h2 class="nhsuk-heading-m">Send a letter</h2>

              {% set gpHTML %}

                  {{ radios({
                  idPrefix: 'letterType',
                  name: 'letterType',
                  fieldset: {
                    legend: {
                      text: 'Which letter would you like to send to the GP?',
                      classes: 'nhsuk-u-visually-hidden'
                    }
                  },
                  items: [
                    {
                      value: 'PE07',
                      html: 'PE07',
                      hint: {
                        text: 'Information is missing from the application'
                      }
                    }
                    ]
                }) }}
               

              {% endset %}


              {% set patientHTML %}

                  {{ radios({
                  idPrefix: 'letterType',
                  name: 'letterType',
                  fieldset: {
                    legend: {
                      text: 'Which letter would you like to send to the patient?',
                      classes: 'nhsuk-u-visually-hidden'
                    }
                  },
                  items: [
                    {
                      value: 'MAT06',
                      html: 'MAT06',
                      hint: {
                        text: 'Child has already reached first birthday'
                      }
                    },
                    {
                      value: 'PE04',
                      html: 'PE04',
                      hint: {
                        text: 'Patient signature is missing'
                      }
                    },
                     {
                      value: 'PE05',
                      html: 'PE05',
                      hint: {
                        text: "Letter hasn't been stamped by GP"
                      }
                    },
                    {
                      value: 'PE12',
                      html: 'PE12',
                      hint: {
                        text: 'Applicant is under 16, or over 60'
                      }
                    }
                    ]
                }) }}
               

              {% endset %}

              
               <form action="send-a-letter" method="post" novalidate>

                {{ radios({
                  idPrefix: 'sendLetterTo',
                  name: 'sendLetterTo',
                  fieldset: {
                    legend: {
                      text: 'Who would you like to send a letter to?'
                    }
                  },
                  items: [
                    {
                      value: 'gp',
                      text: 'To the GP',
                      conditional: {
                        html: gpHTML
                      }
                    },
                    {
                      value: 'patient',
                      text: 'To the patient',
                      conditional: {
                        html: patientHTML
                      }
                    }]
                }) }}


                {{ button({
                  text: 'Submit'
                }) }}

               </form>

              
        </div>
      </div>

            </div>

          </div>


    </div>
  </div>

{% endblock %}