{% extends 'layout-fullscreen-normal-content.html' %}

{% set pageName = 'Edit certificate details' %}

{% block beforeContent %}
 {{ backLink({
    href: 'javascript:history.go(-1)',
    text: 'Back'
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-l">{{ pageName }}</h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-card nhsuk-card--grey">
      <div class="nhsuk-card__content">


      {{ summaryList({
        heading: "Certificate details",
        headingLevel: "2",
        headingClasses: "nhsuk-heading-s",
          classes: "nhsuk-summary-list--no-border",
          rows: [
            {
              key: { 
                text: "Reference" 
              },
              value: 
              { 
                text: "123 4567 8901" 
              }
            },
            {
              key: { 
                text: "Type" 
              },
              value: {
                html: tag({ 
                  text: "MATEX", 
                  classes: "nhsuk-tag--green" 
                })
              }
            },
            {
              key: { 
                text: "Status" 
              },
              value: {
                html: "Active" 
                }
            },
            {
              key: { 
                text: "Channel" 
              },
              value: {
                html: "Digital" 
              }
            },
            {
              key: { 
                text: "Fulfilment" 
              },
              value: {
                html: "Email"
              }
            },
            {
              key: { 
                text: "Start date" 
              },
              value: { 
                html: "25 November 2025"
              }
            },
            {
              key: { 
                text: "Expiry date" 
              },
              value: { 
                html: "24 November 2026" 
              }
            },
            {
              key: { 
                text: "Application date" 
              },
              value: { 
                html: "25 November 2025" 
              }
            },
            {
              key: { 
                text: "Health care provider" 
              },
              value: { 
                html: "" 
              }
            },
            {
              classes: "nhsuk-summary-list__row--no-border",
              key: { 
                text: "Notes" 
              },
              value:
              { 
                html: textarea ({
                  id: "notes",
                  name: "notes"
                })
              }
            }
          ]
      }) }}

      <div class="nhsuk-button-group">
        {{ button
          ({ 
            text: 'Submit',
            href: "case"
          })
        }}
        {{ button
          ({ classes: "nhsuk-button--secondary-solid", 
            text: 'Cancel',
            href: "../search"
          }) 
        }}
      </div>

      </div>
    </div>
  </div>
</div>

<style>

.summary-list-radios {
    display: flex;
    white-space: nowrap;
  }


    /* --------------------------------------------------- */
    /* GRID COLUMN BREAKPOINT — 1024px only   */
    /* --------------------------------------------------- */
    @media (min-width: 1024px) and (max-width: 1024px) {
      .nhsuk-grid-column-one-half {
      width: 66.666%
    }
  }

</style>



{% endblock %}