{% extends 'layout-fullscreen-normal-content.html' %}

{% set pageName = 'Edit personal details' %}

{% block beforeContent %}
 {{ backLink({
    href: 'javascript:history.go(-1)',
    text: 'Back'
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-l">{{ pageName }}</h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-card nhsuk-card--grey">
      <div class="nhsuk-card__content">

          {{ summaryList({
            heading: "Personal details",
            headingLevel: "2",
            headingClasses: "nhsuk-heading-s",
              classes: "nhsuk-summary-list--no-border",
              rows: [
                {
                  key: { 
                    text: "Last name"
                  },
                  value:
                  { 
                    html: input ({
                      id: "last-name",
                      name: "lastName",
                      value: "Smith"
                    })
                  }
                },
                {
                  key: { 
                    text: "First name"
                  },
                  value: 
                  { 
                    html: input ({
                      id: "first-name",
                      name: "firstName",
                      value: "Jane"
                    })
                  }
                },
                {
                  key: { 
                    text: "Address line 1" 
                  },
                  value:
                  { 
                    html: input ({
                      id: "address-line-1",
                      name: "addressLineOne",
                      disabled: true
                    })
                  }
                },
                {
                  key: { 
                    text: "Address line 2" 
                  },
                  value:
                  { 
                    html: input ({
                      id: "address-line-2",
                      name: "addressLineTwo",
                      disabled: true
                    })
                  }
                },
                {
                  key: { 
                    text: "Town or city" 
                  },
                  value:
                  { 
                    html: input ({
                      id: "town",
                      name: "town",
                      classes: "nhsuk-u-width-two-thirds",
                      disabled: true
                    })
                  }
                },
                {
                  key: { 
                  text: "Postcode" 
                  },
                  value: 
                  {
                    html: '
                    <div class="postcode-block">
                      ' + input({
                          id: "postcode",
                          name: "postcode",
                          classes: "nhsuk-input--width-5",
                          value: "TR11 0TS"
                        }) + '
                      
                      <div class="postcode-button">
                        ' + button({
                          text: "Edit address using postcode search",
                          classes: "nhsuk-button--secondary-solid",
                          href: "postcode-search"
                        }) + '
                      </div>
                    </div>
                    '
                  }
                },
                {
                  key: { 
                    text: "Date of birth" 
                  },
                  value: { 
                    html: input({
                      suffix: "(ddmmyy)",
                      classes: "nhsuk-input--width-5",
                      value: "241297"
                    })
                  }
                },
                {
                  key: { 
                    text: "Telephone number" 
                  },
                  value:
                  { 
                    html: input ({
                      id: "phone-number",
                      name: "phone-number",
                      classes: "nhsuk-input--width-10",
                      value: "07123456789"
                    })
                  }
                },
                {
                  key: { 
                    text: "Email address" 
                  },
                  value:
                  { 
                    html: input ({
                      id: "email",
                      name: "email",
                      value: "jane.smith@example.com"
                    })
                  }
                },
                {
                  key: { 
                    text: "Child's due or birth date" 
                  },
                  value: { 
                    html: input({
                      suffix: "(ddmmyy)",
                      classes: "nhsuk-input--width-5",
                      value: "041125"
                    })
                  }
                },
                {
                  key: { 
                    text: "NHS number" 
                  },
                  value:
                  { 
                    html: input ({
                      id: "nhs-number",
                      name: "nhs-number",
                      classes: "nhsuk-input--width-10",
                      value: "1234567890"
                    })
                  }
                },
                {
                  key: { 
                    text: "Notes" 
                  },
                  value:
                  { 
                    html: textarea ({
                      id: "notes",
                      name: "notes"
                    })
                  }
                }
              ]
          }) }}

        <div class="nhsuk-button-group">
          {{ button
            ({ 
              text: 'Submit',
              href: "case"
            })
          }}
          {{ button
            ({ classes: "nhsuk-button--secondary-solid", 
              text: 'Cancel',
              href: "../search"
            }) 
          }}
        </div>
      </div>
      </div>
    </div>
</div>

<style>

  .postcode-button .nhsuk-button {
    margin: 0;
    padding: 8px 12px;
  }



    /* --------------------------------------------------- */
    /* GRID COLUMN BREAKPOINT — 1024px only   */
    /* --------------------------------------------------- */
    @media (min-width: 1024px) and (max-width: 1024px) {
      .nhsuk-grid-column-one-half {
      width: 100%
    }
  }

</style>



{% endblock %}