{% extends 'layout.html' %}

{% block header %}

  {% if data.role === 'backOffice' %}

      {% set account = {
        items: [
          {
            text: data.name or 'John Smith',
            icon: true
          },
          { text: 'Applications processor' },
          {
            text: 'Log out',
            href: '#'
          }
        ]
    } %}

  {% else %}

    {% set account = {
        items: [
          {
            text: data.name or 'John Smith',
            icon: true
          },
          { text: 'Customer contact advisor' },
          {
            text: 'Log out',
            href: '#'
          }
        ]
    } %}

  {% endif %}

  {{ header({
    service: {
      text: serviceName,
      href: '/'
    },
    containerClasses: 'nhsuk-width-container-fluid',
    account: account
  }
  )}}

{% endblock %}

{% block footer %}

  {% if data.debug === 'true' %}
    <!-- DEBUGGING INFORMATION -->
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        {{ textarea({
          name: 'debug',
          id: 'debug',
          label: {
            text: 'Session data'
          },
          value: data | dump
        }) }}
      </div>
    </div>
  {% endif %}

  {{ footer({
    meta: {
      items: [
        {
          href: '/',
          text: 'Home'
        },
        {
          href: '/prototype-admin/reset?returnPage=' + (currentPage | urlencode),
          text: 'Reset data'
        }
      ]
    },
    containerClasses: 'nhsuk-width-container-fluid'
  }) }}
{% endblock %}
